<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="swdo.syj.yayoung.dao.LectureMapper">
	<insert id="insertins" parameterType="InsClass">
		insert into ins_class(ins_num, ins_title, ins_des, ins_cate, ins_price, tc_id)
			values(ins_class_seq.nextval, #{ins_title}, #{ins_des}, #{ins_cate}, #{ins_price}, #{tc_id})
	</insert>
	
	<select id="getInsList" resultType="InsClass" parameterType="string">
		select 
			ins_num, 
			ins_title, 
			ins_des,
			to_char(ins_date, 'YYYY-MM-DD') ins_date,
			ins_cate,
			ins_vidlist,
			ins_price,
			ins_thumbnail,
			ins_thumbnailsave,
			tc_id 
		from 
			ins_class 
		where
			 tc_id = #{tc_id} 
		order by ins_num desc
	</select>
	
	<select id="getOneVO" resultType="InsClass" parameterType="int">
		select 
			ins_num, 
			ins_title, 
			ins_des,
			to_char(ins_date, 'YYYY-MM-DD') ins_date,
			ins_cate,
			ins_vidlist,
			ins_price,
			ins_thumbnail,
			ins_thumbnailsave,
			tc_id 
		from 
			ins_class 
		where
			 ins_num = #{ins_num} 
	</select>
	
	<insert id="insert_vid" parameterType="InsClassVid">
		insert into ins_class_vid(vid_num, vid_title, vid_desc, vid_vidname, vid_vidsavename, ins_num) 
		values(ins_class_vid_seq.nextval, #{vid_title}, #{vid_desc}, #{vid_vidname}, #{vid_vidsavename}, #{ins_num})
	</insert>
	
	<update id="updateThumb" parameterType="InsClassVid">
		update ins_class set ins_thumbnailsave = #{vid_vidsavename} where ins_num = #{ins_num}
	</update>
	
	<select id="classList" resultType="InsClass">
		select ins_num, 
			ins_title, 
			ins_des,
			to_char(ins_date, 'YYYY-MM-DD') ins_date,
			ins_cate,
			ins_vidlist,
			ins_price,
			ins_thumbnail,
			ins_thumbnailsave,
			tc_id  
		from ins_class order by ins_num desc
	</select>
	
	<select id="buy" resultType="InsClass" parameterType="int">
		select 
			ins_num, 
			ins_title, 
			ins_des,
			to_char(ins_date, 'YYYY-MM-DD') ins_date,
			ins_cate,
			ins_vidlist,
			ins_price,
			ins_thumbnail,
			ins_thumbnailsave,
			tc_id 
		from 
			ins_class 
		where
			 ins_num = #{ins_num} 
		order by ins_num desc
	</select>
	
	<select id="getName" resultType="string">
		select tc_name from teacher where tc_id = #{tc_id}
	</select>
	
	
</mapper>
